.more-examples {
	float: left;
}

.fork {
	float: right;
	display: none;

	@media (min-width: 32em) {
		display: block;
	}
}

.example-container {
	position: relative;
	margin-bottom: 2em;
	min-height: 10em;

	.loading {
		position: absolute;
		font-size: 1.4em;
		color: #999;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}

.example-container:after {
	content: '';
	display: table;
	clear: both;
}

.file h2 {
	background-color: #fbfbfb;
	font-family: 'Inconsolata';
	font-weight: 500;
	margin: 0;
	display: inline-block;
	padding: 0.2rem 0.5rem;
}
